/** @format */

.note {
  background: #fff;
  color: #5d5d5d;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.deleteButton {
  position: relative;
  right: -200px;
  bottom: -28px;
  padding: 1px;
  background: #f5ba13;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
